<<<<<<< HEAD
.pics {
  height: 700px; /* Высота */
  width: 935px; /* Ширина */
  /*background-color: #01DF3A; /* Цвет фона */
  margin: 0 auto; /* Отступ */
}
.Pub {
  height: 53px;
  width: 935px;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
}
.Sections {
  /*background-color: red;*/
  margin-right: 28px;
}
.picsLine {
  height: 293px;
  width: 935px;
  /*background-color: #B45F04;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.pic {
  height: 293px;
  width: 293px;
  outline: 2px solid #000;
  /*background-color: #7401DF;*/
}
img {
  width: 100%;
  height: 100%;
}
.Hpics {
  height: 77px;
  width: 77px;
  border-radius: 77px; /* Радиус скругления */
  border: 3px solid;
}
.histories {
  margin: 0 auto;
  height: 130px;
  width: 935px;
  display: flex;
  justify-content: flex-start;
}
.histPic {
  margin-right: 10px;
}
.TitleHist {
  margin-top : 15px;
}
.Titl {
  background: blue;
  height: 33px;
  width: 85px;
  margin: 0 auto;
  justify-content: center;
}
=======
.pics {
  height: 700px; /* Высота */
  width: 935px; /* Ширина */
  /*background-color: #01DF3A; /* Цвет фона */
  margin: 0 auto; /* Отступ */
}
.Pub {
  height: 53px;
  width: 935px;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
}
.Sections {
  /*background-color: red;*/
  margin-right: 28px;
}
.picsLine {
  height: 293px;
  width: 935px;
  /*background-color: #B45F04;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.pic {
  height: 293px;
  width: 293px;
  /*background-color: #7401DF;*/
}
img {
  width: 100%;
  height: 100%;
}
>>>>>>> 4328e911572cc51909532b02550958f63fec2a8e
