li {
  color: green; /* Изменение цвета */
  display: inline; /* Горизонтальный список */
  list-style-type: none; /* Удаление маркировки */
  font-family: 'Train One', cursive;
}
.astana {
  color: red;
}
.kz {
  font-size: 40px;
  font-weight: 100;
}
#lenovo {
  color: purple;
}
