.pics {
  height: 700px; /* Высота */
  width: 935px; /* Ширина */
  /*background-color: #01DF3A; /* Цвет фона */
  margin: 0 auto; /* Отступ */
}
.Pub {
  height: 53px;
  width: 935px;
  /*background-color: blue;*/
  display: flex; /* flex box On */
  justify-content: center; /* Приведение к центру */
}
.Sections {
  /*background-color: red;*/
  margin-right: 28px;
}
.picsLine {
  height: 293px;
  width: 935px;
  /*background-color: #B45F04;*/
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.pic {
  height: 293px;
  width: 293px;
  outline: 2px solid #000;
  /*background-color: #7401DF;*/
}
img {
  width: 100%;
  height: 100%;
}
.Hpics img {
  height: 77px;
  width: 77px;
  border-radius: 50%; /* Радиус скругления */

}
.histories {
  margin: 0 auto; /* Отступ */
  height: 130px;
  width: 935px;
  display: flex;
  justify-content: flex-start;
}
.histPic {
  margin-right: 10px;
}
.TitleHist {
  margin-top : 15px;
  display: flex;
  justify-content: center;
}
.Titl p{
  background: blue;
  height: 33px;
  width: 85px;
}
.User {
  margin: 0 auto; /* Отступ */
  height: 150px;
  width: 935px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 44px;
}
.UserStats{

}
.Avatar {
  margin-right: 30px;
  height: 150px;
  width: 292px;
}
.Avatar img {
  height: 150px;
  width: 150px;
  border-radius: 50%; /* Радиус скругления */
}
.UserName{
  display: flex;
  width: 614px;
  height: 30px;
  margin-bottom: 20px;
  flex-direction: row;
}
.UserName h2 {
  margin-right: 30px;
}
.Subs span {
  margin-right: 20px;
  margin-bottom: 40px;
}
.UserStats {
  width: 614px;
  height: 18px;
  margin-bottom: 20px;
}
.UserText {
  width: 614px;
  height: 48px;
}
