body {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
*{
  box-sizing: border-box;
}
p {
  margin: 0;
}
.header p {
  margin: 0;
  font-size: 14px;
}

.header {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.header img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.headerContent {
}
.location {
  display: flex;
  flex-direction: row;
  margin-right: 478px;
}
.payA {
  display: flex;
  flex-direction: row;
}
.dostavka,.pay,.certificate  {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.pay p{
  color: #f93c00;
}
.logoblock{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gender {
  display: flex;
  flex-direction: row;
  margin-right: 250px;
}
.gender p {
  margin-right: 20px;

  font-size: 16px;
}
.logo {
  margin-right: 350px;
}
.logIn {
  display: flex;
  flex-direction: row;
}
.logIn p {
  margin-right: 4px;
}
.logIn img{
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.logo img {
  width: 160px;
  height: 32px;
}
ul {
  margin: 0;
}
li {
  margin: 0;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}
.somecat {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
  font-size: 16px;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  margin-right: 15px;
  list-style: none;
}
li:hover {
  color: black;
}
.saleRed{
  color:red;
}
.spisok2 ul{
  display: none;
  position: absolute;
  padding-top: 20px;
  position: absolute;
  left: 0px;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-top: 15px;

}
.spisok2 ul li:nth-child(7){
  padding-top: 50px;
}
li:hover .spisok2 ul{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 250px;
  padding-left: 350px;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.24);
  z-index: 3;
}
.spisok2 ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: initial;
  font-size: 13px;
}
.searchX i {
  font-size: 20px;
}
.searchX button {
  height: 30px;
  margin-left: -4px;
  margin-bottom: 2px;
}
.Sales {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seasonSales{
  width: 780px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.carouselExampleIndicators *{
  width: 100%;
  height: 100%;
  z-index: 1;
}
.carousel-indicators button {
  display:block;
  border-radius: 50%;
  border: 1px solid red;
  z-index: 3;
  border: 1px solid black; // Не получилось изменить кнопки , добавить фон в актив класс
}
.carousel-indicators {
  z-index: 3;
  position: relative;
  top: 625px;

}
.whiteblock {
  z-index: 2;
  background-color: white;
  width: 429px;
  height: 73px;
  position: relative;
  bottom: 40px;
  right: -170px;
  text-align: center;
}
.active {
  background: black;
}
.whiteblock p{
  margin-top: 15px;
}
.whiteblock p:first-child{
  font-size: 23px;
  font-weight: 900;
}
.container {
  position: relative;
}
.overlay {
  z-index: 2;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f1f1f1;
  width: 97%;
  height: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay p {
  margin-right: 30px;
  background: white;
  color: black;
  font-size: 13px;
  padding: 10px 70px;
}
.container:hover .overlay{
  opacity: 1;
}
.collections {
  height: 353px;
  width: 388px;
  margin-top: 30px;
  margin-left: 25px;
}
.collections img {
  width: 100%;
  height: 100%;
}
.collections .whiteblock{
  right: -10px;
  width: 346px;
  height: 89px;
  padding-top: 1px;
}
.collections .overlay{
  height: 72%;
  width: 94%;
  bottom: 90px;
}
.actual {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  justify-content: center;
  align-items:center;

}
.act{
  display: flex;
  justify-content: center;
  z-index: 1;
}
.actclothes {
  z-index: 1;
  width: 1206px;
  height: 234px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.conClothes{
  z-index: 1;
  width: 201px;
  height: 170px;
  display: flex;
  flex-direction: column;
}
.actclothes img{
  z-index: 1;
  width: 120px;
  height: 120px;
  margin-top: 16px;
  border-radius: 50%;
}
.conClothes{
  z-index: 1;
  display: flex;
  align-items: center;
}

.conClothes p{
  z-index: 1;
  margin-top: 16px;
}

/*https://codepen.io/anon/pen/dWWaLq*/
.conClothes:hover {
  opacity: 0.9;
}
.actclothes:hover {
  opacity: 0.5;
}




.scr {
  z-index: 3;
  display: flex;
  background-color: #e5e5e5;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  top: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.scr p{
  font-size: 50px;
}
.leftScr {
  left: 30px;
  z-index: 3;
}
.rightScr{
  right: 30px;
  z-index: 3;
}
.leftScr:hover{
  background-color: #33B2FF;
  color: white;
}
.rightScr:hover{
  background-color: #33B2FF;
  color: white;
}
.popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
  align-items: center;

}
.popular .textpop:first-child {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  width: 70%;
  font-size: 21px;
  font-weight: 900;
  margin-left: 20px;
}
.popularClothes{
  z-index: 1;
  width: 1206px;
  height: 504px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.popularClothes img{
  z-index: 1;
  width: 179px;
  height: 257px;
  margin-top: 16px;
}
.secondPop {
  height: 100%;
  margin-left: 20px;
}
