body {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
*{
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  margin: 0;
}
.header p {
  margin: 0;
  font-size: 14px;
}

.header {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.header img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.headerContent {
}
.location {
  display: flex;
  flex-direction: row;
  margin-right: 478px;
}
.payA {
  display: flex;
  flex-direction: row;
}
.dostavka,.pay,.certificate  {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.pay p{
  color: #f93c00;
}
.logoblock{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gender {
  display: flex;
  flex-direction: row;
  margin-right: 250px;
}
.gender p {
  margin-right: 20px;

  font-size: 16px;
}
.logo {
  margin-right: 350px;
}
.logIn {
  display: flex;
  flex-direction: row;
}
.logIn p {
  margin-right: 4px;
}
.logIn img{
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.logo img {
  width: 160px;
  height: 32px;
}
ul {
  margin: 0;
}
li {
  margin: 0;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 19px;
}
.somecat {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
  font-size: 16px;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  margin-right: 15px;
  list-style: none;
}
li:hover {
  color: black;
}
.saleRed{
  color:red;
}
.spisok2 ul{
  display: none;
  position: absolute;
  padding-top: 20px;
  position: absolute;
  left: 0px;
  flex-wrap: wrap;
  margin-top: 5px;
  padding-top: 15px;

}
.spisok2 ul li:nth-child(7){
  padding-top: 50px;
}
li:hover .spisok2 ul{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 250px;
  padding-left: 350px;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.24);
}
.spisok2 ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: initial;
  font-size: 13px;
}
.searchX i {
  font-size: 20px;
}
.searchX button {
  height: 30px;
  margin-left: -4px;
}
.Sales {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seasonSales{
  width: 780px;
  height: 600px;
}
.collections {
  height: 353px;
  width: 388px;
}
